body, html {
margin: 0;
padding: 0;
height: 100%;
display: grid;
-webkit-user-select: none;  /* Safari */
-moz-user-select: none;     /* Firefox */
-ms-user-select: none;      /* Internet Explorer/Edge */
user-select: none;          
}

  /* Use a grid layout with two columns: a fixed width left column and a flexible right column */
#layout {
display: grid;
grid-template-columns: 250px 1fr; /* Left column fixed at 250px, right takes remaining space */
height: 100vh; /* Full screen height */
}

  /* Style the left menu container */
#left-menu {
background-color: #f0f0f0;
padding: 8px;
border-right: 1px solid #ccc;
overflow-y: auto;
}


  /* Style the toolbar at the top of the content area */
#demo-toolbar {
  align-items: center;
  background-color: #7b88b0;
  height: 4vh;
  padding: 5px;
  color: white;
  display: flex;  /* Use flexbox layout */
  justify-content: space-between;  /* Center items horizontally */
  gap: 5px;  /* Add space between items */
}
.toolbar-left{
  display: flex;
  gap: 3px;  /* Add space between items */
  align-items: center;
  justify-content: end;
  width: 50%; /* Both sections take up equal space */
}
.toolbar-right {
  display: flex;
  gap: 3px;  /* Add space between items */
  align-items: center;
  justify-content: start;
  width: 50%; /* Both sections take up equal space */
}
.toolbar-divider {
  width: 1px;
  height: 100%;
  background-color: white;
}

  /* Style the content area below the toolbar */
#whole-content {
display: grid;
padding: 8px;
grid-template-columns: 1fr;
gap: 8px;
height: 93vh;
}
#content {
flex-grow: 1;
background-color: #f9f9f9;
height: 100%;
}

#master-viewport-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: calc(98vw-210px);
  height: 100%;
  gap: 8px;
}

[id^="viewport"] {
  width: 100%;
  height: 100%;
  /* Your styles here */
  border: 1px solid #6687d9;
  border-radius: 5px;
}
[id^="viewport"][data-is-selected="true"] {
  border: 3px solid #6687d9;
}

/* Style for not selected viewports */
[id^="viewport"][data-is-selected="false"] {
  border: 1px solid #6687d9;
}

/* Custom style for the unique icon button */
.icon-button {
  background-color: white; /* Background color for custom button */
  color: black; /* Text color for custom button */
  font-size: 16px;
  padding: 5px; /* Padding for the custom button */
  display: flex; /* Flexbox for icon and text alignment */
  align-items: center; /* Center align vertically */
  border-radius: 5px; /* Rounded corners for custom button */
  position: relative;
  cursor: pointer; /* Change cursor to hand */
  border: 0.5 solid black;
}
.button-text {
  display: none;
  position: absolute;
  top: 100%; /* Position below the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: #6687d9; /* Background color for the tooltip */
  color: #fff; /* Text color */
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  z-index: 10; /* Ensure it appears on top */
  margin-top: 8px; /* Space between icon and tooltip */
}

.icon-button:hover .button-text {
  display: block;
}


/* Style for the icon image inside the custom button */
.icon-img {
  width: 24px;
  height: 24px;
}

/* Custom button hover effect */
.icon-button:hover {
  background-color: #556bb5; /* Darker color on hover */
}
/* Selected state */
.icon-button[data-is-selected="true"] {
  background-color: #556bb5;
  color: white;
}

/* Unselected state */
.icon-button[data-is-selected="false"] {
  background-color: white;
  color: black;
}

/* Hover effect - only applies when not selected */
.icon-button[data-is-selected="false"]:hover {
  background-color: #6687d9;
  color: white
}


/* Custom Select Styles */
.icon-select-wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  border: solid 2px black;
}
/* Selected state */
.icon-select-wrapper[data-is-selected="true"] {
  background-color: #556bb5;
  color: white;
}

/* Unselected state */
.icon-select-wrapper[data-is-selected="false"] {
  background-color: white;
  color: black;
}

.icon-select {
  border: none;
  margin-left: 8px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  appearance: none; /* Remove the default arrow on most browsers */
  background-color: transparent; /* Make select background transparent */
}
/* Ensure the select element takes full width */
.icon-select-wrapper select:focus {
  outline: none; /* Remove focus outline */
}

.slider-container {
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: 16px;
  padding: 7px; 
  display: flex; 
  align-items: center; 
  border-radius: 5px; 
  border: solid 2px black;
}

/* Study list container styling */
.study-list-container {
  display: grid;
  gap: 8px;
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  overflow-y: auto; /* Allow vertical scrolling if content exceeds the height */
}

.study-item {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px;
  transition: background-color 0.3s, border-color 0.3s; /* Add smooth transition for hover/selection */
}

/* Style for selected study-item */
.study-item[data-is-selected="true"] {
  border: 2px solid #6687d9; /* Highlight the border color when selected */
}

/* Optional: Add a hover effect */
.study-item:hover {
  background-color: #e6e6e6; /* Light grey on hover */
}


/* Study header section */
.study-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.study-title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  flex: 1; /* Take as much space as possible */
}

.study-date {
  font-size: 12px;
  color: #666;
}

/* Imaging list styling */
.series-list {
  margin-bottom: 8px;
}

.image-item {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
  border-bottom: 1px solid #eee;
}

.image-date {
  width: 30%;
  text-align: left;
  font-size: 12px;
  color: #888;
}

.image-modality {
  width: 70%;
  text-align: right;
  font-size: 12px;
  color: #444;
}

/* Study footer styling */
.study-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
  color: #666;
}

.referring-physician {
  font-weight: bold;
  color: #333;
}

.accession-number {
  font-weight: 600;
  color: #555;
}

/* Patient info section */
.patient-info {
  font-size: 14px;
  color: #333;
  background-color: #f5f5f5;
  padding: 8px; /* Reduced padding */
  border-radius: 6px; /* Smaller border-radius */
  border: 1px solid #ddd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Reduced shadow size */
  font-family: Arial, sans-serif;
  line-height: 1.25;
  margin-bottom: 16px;
}

/* Patient name */
.patient-name {
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.patient-id{
  font-size: 14px;
  font-weight: bold; /* Make the dynamic part bold */
}

/* Patient date of birth */
.patient-dob {
  font-size: 14px;
  color: #555;
}

/* Patient age and gender */
.patient-age-gender {
  font-size: 14px;
  color: #666;
  font-weight: 600;
}

.page-pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.page-pagination a {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #ddd; /* Gray */
  background-color: #f5f5f5;
  padding-block: 4px;

}
.page-pagination a.active {
  background-color: #7b88b0;
  color: white;
}
.page-pagination a:hover:not(.active) {
  background-color: #e6e6e6; /* Light grey on hover */
}


#whole-content-series {
  display: grid;
  padding: 8px;
  grid-template-rows: 1fr;
  gap: 8px;
  height: 93vh;
}
#content-series {
  flex-grow: 1;
  height: 100%;
  display: table-column;
}
#master-viewport-grid-series{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 8px;
}


.icon-button-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown-button {
  width: 8px;
  height: 38px;
  background-color: white;
  position: relative;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0.5 solid black;
  border-left: none;
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 40px; /* Adjust based on your layout */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  color: black;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  width: 100px;
  z-index: 10;
}

.dropdown-options li {
  padding: 10px;
  background-color: white;
  cursor: pointer;
}

.dropdown-options li:hover {
  background-color: #f0f0f0;
}

.show {
  display: block; /* Show the dropdown */
}
.icon-button-select {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right:none
}